<h1>Elérhető szolgáltatások</h1>
<div class="service-container">
  @for (item of services; track $index) {
    <div class="serviceCard">
      <h2 class="service-title">{{item.name}}</h2>
      <div class="service-person">
        <img class="person-photo" [src]="item.person.photoUrl" [alt]="item.person.name">
        <h4 class="person-name">{{item.person.name}}</h4>
      </div>
      <p class="service-description">{{item.description}}</p>
      <button class="service-button" (click)="service = item">Részletek és foglalás</button>
    </div>
  }
</div>

@if(service){
  <app-appointment-item [service]="service"></app-appointment-item>
}
